http:
  routers:
    {% for vhost in reverse_proxy__service %}
    {{ vhost.server_name }}:
      rule: "Host(`{{ vhost.server_name }}`)"
      service: "{{ vhost.service }}"
    {% endfor %}

  services:
    {% for service in reverse_proxy__backend_services %}
    {{ service.name }}:
      loadBalancer:
        servers:
          - url: "http://{{ service.backend }}"
    {% endfor %}
