# TODO: Does not work with new `reverse_proxy__services`, only old `reverse_proxy__service`.

worker_processes auto;

events {
    worker_connections 1024;
}

http {
    server {
        listen 80;

        {% for vhost in reverse_proxy__service %}
        server_name {{ vhost.server_name }};

        location / {
            proxy_pass http://{{ vhost.backend }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        {% endfor %}
    }
}
